<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 设置数据库环境 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC"/>
                <!-- url最容易出错，如果使用相对于项目的相对地址，那么填入 jdbc:sqlite::resource:sqlit数据库所在位置-->
                <!-- 注：-->
                <!-- :resource: 指向项目的 resources 路径（resource前后两个 `:` 不能省略）-->
                <!--          url: jdbc:sqlite::resource:sqlite.db-->
                <property name="url" value="jdbc:sqlite:file:./src/main/resources/sqlite.db"/>
            </dataSource>
        </environment>
    </environments>
</configuration>
